[2019-12-20 20:11] Nyholm opened #2 "Add to packagist"
We should review/change the package name in composer.json and then add this package to packagist.

(If package name is changed in composer.json we also need to update the readme (plugin path))

[2019-12-20 20:39] mnapoli commented on #2
The `bref/extra-php-extensions` Composer package looks good to me, should I add it to packagist?

[2019-12-20 20:49] Nyholm commented on #2
Yes please.

[2019-12-21 09:39] mnapoli commented on #2
👍  done: https://packagist.org/packages/bref/extra-php-extensions

[2019-12-21 09:40] #2 closed

[2020-01-06 07:58] petercv opened #9 "Local docker development environment"
Do you also publish the layers in Docker Hub so they can be installed in your local development setup? Or do you recommend installing the extensions directly in the base development docker image by using a custom Dockerfile?

[2020-01-09 07:59] petercv commented on #9
What I've done now is creating a local Dockerfile with the commands to to build the extension and then use the base image and copy the required files in there. But it could be easier if every extension layer is also made available as a Docker image on Docker Hub.

This is my Dockerfile:
[code]

[2020-01-15 16:42] aran112000 opened #10 "Add support for GD"
We require the GD library (bref/php-74-fpm) for processing WebP images, any chance this is an easy one to add?

[2020-01-15 16:47] mnapoli commented on #10
Hi, GD was added in https://github.com/brefphp/bref/pull/396 but it seems that [this page](https://bref.sh/docs/environment/php.html) was not updated to reflect it. If you can send a pull request to update it that would be awesome.

[2020-01-15 21:14] aran112000 commented on #10
Amazing, thanks @mnapoli, I'll give it a try now and if all working, I'll open a PR this evening :)

[2020-01-15 21:30] aran112000 commented on #10
Hi @mnapoli,

I've managed to deploy with GD, however, it appears to be a minimal install and is missing the main function we actually need from it:
https://www.php.net/manual/en/function.imagewebp.php

Do you think it'd be easy to recompile to include this, not sure how that works exactly, sorry.

Thanks in advance - Aran

[2020-01-16 05:37] mnapoli commented on #10
Thanks for the PR!

I wouldn't call it that minimal as we included PNG and JPG support. But I don't recall adding webp indeed. The challenge to add that is to identify which system libraries to install and package in the layer.

[2020-01-16 23:15] aran112000 commented on #10
Hi @mnapoli,

I've done some looking into it this evening, and it sounds as though it's just libwebp that's required - here's a quick extract from PHP's docs on it, hope this helps a quick resolution 🤞:

https://www.php.net/manual/en/image.installation.php

[2020-01-17 10:29] mnapoli commented on #10
👍 Here is an outline of the process to get this into Bref (in the main repository), like for other extensions:

- open a pull request that adds the flag, as well (probably required) as the system library
- confirm that the extension works
- show the difference of size of the layers (before/after) so that we can check that it's not adding too much

[2020-01-17 20:19] aran112000 commented on #10
Hi @mnapoli,

I've achieved the first 2 parts, although feel completely lost when trying to create the layers themselves, any chance you could point me in the right direction?

Cheers,
Aran

[2020-01-19 12:43] mnapoli commented on #10
Sure! When you build the layers with Bref, you have to do:

[code]

The generated layers will be in the `runtime/export/` directory.

What you can do is `ls -la` and paste the result in the pull request (that you can create over the Bref repository).

That way we can see the new size of the layers. We can then compare that with the current layers (I will do that, I have them already built on my ma

[2020-01-19 12:43] mnapoli commented on #10
(btw just to be clear: the layers are ZIP files).

[2020-01-23 04:49] sabmeua opened #12 "Support for pgsql"
I really thank you for your great work.
I added support for pgsql (not pdo-pgsql) so I'd like to pull request it if it works fine.

https://github.com/sabmeua/extra-php-extensions/tree/ext_pgsql

Now I made sure that the build is good with Travis CI. But I don't know how to add it to my serverless.yml as new layer and confirm it.

https://travis-ci.org/sabmeua/extra-php-extensions

I guess that to

[2020-01-23 07:31] sabmeua commented on #12
After that I manually created attached zip file from docker image, and added a new layer with this zip file.
Then I confirmed to access a RDS postgresql from lambda function by "pg_*" functions.
Is this good for confirmation method?

[php73-pgsql-layer.zip](https://github.com/brefphp/extra-php-extensions/files/4101795/php73-pgsql-layer.zip)

[2020-01-26 12:38] Nyholm commented on #12
I think you are pretty much covered.
Great work. Could you submit a PR?

[2020-01-26 12:41] Nyholm commented on #9
Hey. No nothing is published on Docker hub.

I agree with you, I think we should.  A while ago I added this PR to bref: https://github.com/brefphp/bref/pull/519

It builds docker images, tags them and upload them to Dockerhub. I think we should do something similar here, right?

[2020-01-26 12:46] mnapoli commented on #9
@Nyholm if you want to be able to publish in the Docker Hub "bref" account let me know, I can create permissions.

[2020-01-26 13:23] sabmeua commented on #12
Thanks for comment. I submitted PR just now.

[2020-01-26 13:53] Nyholm opened #14 "Write better instructions how to contribute"
- How to build layers?
- How to test layers?
- How to confirm that every thing is working?

[2020-01-26 13:55] Nyholm commented on #12
Thank you.

You've done an excellent job with this PR. Could you describe your process (add docs)?
If you make another PR that fixes #14, that would be great.

[2020-01-26 15:18] mnapoli opened #16 "Automatically enable extensions?"
Would it make sense to automatically enable extensions when the layer is used?

That would simplify the installation steps: just import the layer and that's it.

How? PHP currently looks for `*.ini` files in 2 places:

https://github.com/brefphp/bref/blob/c3ca836239e2a9d5445235599b2e932de267ddb7/runtime/base/php-74.Dockerfile#L76

I *think* this works (I kinda remember some problems with this mont

[2020-01-27 01:03] sabmeua commented on #12
Sure. I'd love to describe my process.
I have not yet understood how to use a locally built image as bref plug-in, so I hope to understand it through the PR.

[2020-01-27 06:46] Nyholm commented on #12
One need to publish it with “aws lambda publish-layer-version”.

Thank you.
I’m closing this as it was fixed in #13

Let’s continue discussion in #14

[2020-01-27 06:46] #12 closed

[2020-01-28 04:14] sabmeua commented on #14
I believe I almost understood the process to contribute, so I wrote my understands #17.
Also I would appreciate it if you point out when I make weird wording.

[2020-02-22 14:41] Nyholm commented on #14
Closed by #17

[2020-02-22 14:41] #14 closed

[2020-02-25 18:32] Folcon opened #22 "You're missing the new pgsql lib entry in layers.json"
It's not in [layers.json](https://github.com/brefphp/extra-php-extensions/blob/master/layers.json), even though it appears on the site docs.

So at present I don't believe it's installable.

[2020-03-07 13:17] deleugpn opened #23 "Layer ARN"
I'm looking into integrating AWS Cognito and we're making use of [JWT Framework](https://web-token.spomky-labs.com/) to validate the tokens. I'll be needing the GMP extension, but I don't use the Serverless Framework. I wanted to know what's the Layer ARN that I can use to enable the extension.

Thanks!

[2020-03-07 16:06] deleugpn commented on #9
I'm currently looking for a way to deal with this as well. I want to run automation tests on CodeBuild using the image provided by Bref, but I also need to copy the GMP extension over there. It makes me miss Alpine (`apk add php7-gmp`), but Lambda does have a lower maintenance burden than containers.

[2020-03-07 17:14] deleugpn commented on #9
One thing I just tried, but didn't go so well: shared volumes between containers.

The idea was to have 2 containers on a docker-compose (e.g. php-74 & ext-gmp-php74) both sharing a volume:

[code]

The expectation was that by doing this, I'd be able to add the extension files from a side container into the main (my-service) container. The first thing that failed is that this volume format does no

[2020-03-10 12:29] mnapoli commented on #23
Sorry it's pretty bare but here is the layer ARN: https://github.com/brefphp/extra-php-extensions/blob/master/index.js#L30

And versions are here: https://github.com/brefphp/extra-php-extensions/blob/master/layers.json

[2020-03-10 12:30] deleugpn commented on #23
This is more than enough! Thank you!!

[2020-03-10 12:30] #23 closed

[2020-04-08 17:12] jjanvier commented on #9
Same need for me :+1:
I'd like to use the xdebug extension on my local dev environment.

[2020-04-10 09:04] Nyholm commented on #22
Correct. That one is not taggad and released yet.

[2020-04-10 10:48] Nyholm commented on #22
Im tagging releases today.

[2020-04-10 11:37] #9 closed

[2020-04-10 15:09] Nyholm commented on #10
What is the status here? Should we add "minimal-GD" and "full-GD" in this repo?

Or should we close or move this issue to brefphp/bref?

[2020-04-11 11:20] mnapoli commented on #10
Hi! We can close here, there is https://github.com/brefphp/bref/pull/531

What https://github.com/brefphp/bref/pull/531 is missing is a preview of how bigger the new layers become. I haven't had time to build them myself yet.

If it turns out that the layers become too big for Bref, we can reopen this issue.

[2020-04-11 11:20] #10 closed

[2020-04-19 10:35] #22 closed

[2020-05-01 13:57] tlfbrito opened #34 "Newrelic extension"
This isn't a bug, it a suggestion.

Create an extension layer with the Newrelic APM.

[2020-05-01 13:59] tlfbrito opened #35 "Datadog extension"
Create a layer extension with Datadog APM for PHP.

[2020-05-02 06:54] mnapoli commented on #34
I think the New Relic APM would need an agent running all the time, right? If that's the case, you would need to run that daemon on an EC2 box I guess (like Blackfire).

[2020-05-02 06:54] mnapoli commented on #35
Same comment as https://github.com/brefphp/extra-php-extensions/issues/34#issuecomment-622749625

[2020-06-08 14:29] Nyholm commented on #34
Yes. That is correct. But NewRelic does not support the agent on a different server as far as I know.. Or can that be done?

[2020-07-16 14:15] pfazzi opened #43 "gRPC Extension"
I need gRPC Extension. Installation procedure is descibed [here](https://cloud.google.com/php/grpc).

[2020-07-19 08:48] #43 closed

[2020-07-30 12:10] pfazzi opened #47 "Microsoft SQL Server Layer"
Add a layer that enables connections with Microsoft SQL Server

[2020-07-31 11:09] chippyash commented on #47
Is that still a thing? Don't think I've used that in over 20 years! 🤣 Joking aside, it is relatively straightforward for you to build your own layer package and submit it for inclusion in the repo. There are instructions, I followed them to create the Ds layer quite easily.

[2020-07-31 11:17] pfazzi commented on #47
I opened the issue just as declaration of intent. I've already implemented the gRPC layer of this repo so i can take in charge this task. Unfortunatelly I'm working on a new project that, among other stuff,  should also read some data from a legacy SQL Server so no way out for me... 😭
I hope this layer will be as straight forward as the gRPC was 🙏

[2020-07-31 11:38] chippyash commented on #47
@pfazzi My bad, saw this on the phone and didn't recognise you.  Have fun with the MSSQL. As I recall, it was a rip-off of the Sybase SQL server, which back in the day was a powerful and useful beast. I remember writing a financial portfolio management system totally inside the database and then using Paradox on client side to interact with it.  Happy days.

[2020-07-31 11:56] pfazzi commented on #47
I'm too young for Paradox but my first job required me to work on a very legacy PowerBuilder project connected with Sybase 7 maybe via ODBC... nostalgic feels 😂

[2020-08-26 08:39] awons commented on #34
@Nyholm It can be done since agent 9.2: https://docs.newrelic.com/docs/release-notes/agent-release-notes/php-release-notes/php-agent-920247

[2020-08-30 19:18] fgilio commented on #35
I don't know about New Relic, but Datadog has first party support for Lambda and apparently has layers for other languages https://docs.datadoghq.com/integrations/amazon_lambda/?tab=awsconsole#datadog-lambda-layer

[2020-09-11 18:25] rmundel opened #73 "Libvips extension"
Hey guys, there's support or the possibility to support libvips? https://github.com/libvips/php-vips-ext

[2020-09-11 20:04] mnapoli commented on #73
Hi, this might be a candidate for a separate layer in https://github.com/brefphp/extra-php-extensions

Check out [this guide](https://github.com/brefphp/extra-php-extensions/blob/master/docs/create_your_own_extension_layer.md) to contribute that extension.

[2020-09-11 20:04] #73 closed

[2020-09-11 20:08] rmundel commented on #73
It's actually not that hard to do that!
I'm definitely going to build that soon!
Thanks.

[2020-09-11 20:13] mnapoli commented on #73
Awesome!

[2020-09-22 12:17] shouze commented on #16
yes it's a good idea!

[2020-09-22 15:49] mnapoli commented on #16
The only thing I'm not sure about is whether it will work (in theory it should, but I never tested adding a `.ini` file in that directory).

In any case I'm 👍

[2020-10-04 16:39] G3z opened #79 "Unknown Bref extra layer named "gd-php-74""
I'm receiving this error when launching `serverless`
I've added the layer this way:
`- ${bref:extra.gd-php-74}`
I see no problem when using another extension for example:
`- ${bref:extra.memcached-php-74}`

[2020-10-05 22:07] terox opened #80 "docker error: "tar" executable not found in $PATH"
Hello!

I am trying to test a new layer before send the PR, but when I execute the ```make layers``` docker shows me an error:

[code]
I lost some hours trying to understand what is happening. Is only happening to me or maybe is general? I think that some is wrong in the main docker image```bref/build-php-XX``` because seems that ```tar``` command is not available. But I am not sure.

Anybody can

[2020-10-08 12:53] MattGrundy commented on #79
I'm not seeing it in the layers.json so I guess the serverless plugin can't pick it up 👀

[2020-10-10 05:19] gocebo commented on #80
I am guessing you are using `scratch` as the final image. Change it to `lambci/lambda:provided` and it works. Related to changes introduced in #75

[2020-10-11 11:07] mnapoli commented on #80
Oh that's an interesting point @gocebo, maybe @shouze is there anything to improve in the instructions or docs if `scratch` changes a few things for users? I'm not really sure about the impact here.

[2020-10-12 07:30] shouze commented on #80
@terox could you please either send the PR as a draft of give me an example of how to reproduce? :angel:

[2020-10-12 09:42] gocebo commented on #80
@terox Downloading the latest repo and running `make layers` reproduces the problem but this line is the issue
https://github.com/brefphp/extra-php-extensions/blob/cc8428c829d28dfccc63c7495668e58bedbf2715/Makefile#L48 since there is no tar entrypoint in `scratch`.

[2020-10-12 09:49] shouze commented on #80
Ok my fault indeed. The fix will probably straight forward as docker already have a [built in command to produce a tar from a docker image](https://docs.docker.com/engine/reference/commandline/save/). Will send a fix 🔜

[2020-10-12 09:57] terox commented on #80
@gocebo os in the track. That line is the problematic. Waiting the fix. Thanks for the help. When all is ready I will try all again

[2020-10-13 06:15] shouze commented on #80
Ok docker image save does not produces the output I expected, it will be a little more complicated.
[code]

[2020-10-15 08:20] Nyholm commented on #79
It is in layers.json.. https://github.com/brefphp/extra-php-extensions/blob/master/layers.json#L582

@G3z Did you add the plugin to serverless.yml?

[2020-10-15 08:25] Nyholm commented on #80
So.. This means I cannot deploy the new layers. Since I need to run `tar`.

Is there a workaround? Or should we create "scratch with tar"?

[2020-10-15 08:41] G3z commented on #79
sorry I was referring to GD (in the title) I was using memcached as an example of a working extension, i'll edit my first post

[2020-10-15 08:42] shouze commented on #80
@Nyholm scratch with tar could be alpine for example, as scratch has no os, no libc and so on, this is an empty image.

As it's a bit harder to fix than expected with scratch (my previous comment), you can replace scratch everywhere by the smallest possible docker image, alpine for example (I've searched for a minimal `tar` docker image but didn't find any).
Then I we will be able to rollback to `

[2020-10-15 08:46] Nyholm commented on #79
Oh, Im sorry.

@MattGrundy is correct. GD is not released yet: https://github.com/brefphp/extra-php-extensions/compare/0.4.2...master

We are currently blocked by #80

[2020-10-15 09:13] terox commented on #80
I don't understand exactly what is the issue with "docker image save", but I understand that tar result tar contains all image files and not the raw "extension" or binary that was the expected behaviour? Sorry I am not an expert in Docker at this levels. In other case seems a little tricky issue but not impossible to solve :)

When we have all ready I can test the ```make layers``` in my computer

[2020-10-15 09:23] Nyholm commented on #80
I think the issue is this:

When we use the docker images, we really want to use `scratch` because it is small.

However, when one is creating aws layers, we are only interested in the files, so we use `tar` to get the files from the docker image.

I can see if I'll write up a solution today.

[2020-10-15 10:36] shouze commented on #80
@terox not impossible to solve, I have a good idea in fact on how to solve it: simply extract all the sub tar of docker save image to reconstitute a zippable exported filesystem.

This is why I've exposed so far where I am in https://github.com/brefphp/extra-php-extensions/issues/80#issuecomment-707514769: to resume quickly on this issue when I'll find a time slot to dedicate :wink:

[2020-10-15 10:37] Nyholm commented on #80
https://github.com/brefphp/extra-php-extensions/pull/82

[2020-10-15 10:38] shouze commented on #80
@Nyholm you hacker :clap: :pirate_flag:

[2020-10-15 10:43] terox commented on #80
I understand much better the intentions! :)

[2020-10-15 11:26] #80 closed

[2020-10-15 16:28] Nyholm commented on #79
Try with 0.5.0. That should work.

[2020-10-15 16:28] #79 closed

[2020-10-29 13:16] Shnilj opened #88 "Usage with Laravel Vapor"
I am currently using [Laravel Vapor](https://vapor.laravel.com/) to run Serverless PHP through AWS. By default, Vapor has an option to use Imagick based on this repository [see](https://docs.vapor.build/1.0/projects/environments.html#imagick-support). I was wondering how I can extend this functionality to add SQLSrv support to my project.

Thanks in advance!

[2020-11-23 16:55] mnapoli opened #99 "The 0.6.0 build failed"
Here is the build: https://github.com/brefphp/extra-php-extensions/runs/1442677439?check_suite_focus=true

[code]

It seems like the `yaml` extension was compiled with zts (`/opt/bref/lib/php/extensions/no-debug-zts-20190902/yaml.so`), so the `cp` does not work.

I'm trying to understand why it was compiled with zts 🤔

[2020-11-23 23:28] chekalsky commented on #99
Not sure if it's connected or not, but getting this error now:

/opt/bin/php: error while loading shared libraries: libncurses.so.6: cannot open shared object file: No such file or directory

[2020-11-24 15:35] adrianuf22 commented on #16
It make sense to me!

And, it works!

I'm currently using this on my Docker images to install and enable extensions:

[code]

I saw this on my PHP local installation, all extensions have a .ini file created separated at the default `conf.d` directory (In this case, all files was created automacally after install with `apt-get`).

When run `php -m`, all modules are loaded and `php --ini` shows the

[2020-11-24 15:55] chekalsky commented on #99
@Nyholm (sorry for tagging you, but I can't test bref 1.0 without this fix apparently)

0.6.1 — still failing https://github.com/brefphp/extra-php-extensions/runs/1446390925?check_suite_focus=true

[2020-11-24 16:02] Nyholm commented on #99
I was sure I fixed that... Hm..

Oh, it is because the `latest` has changed =)

[2020-11-24 16:05] mnapoli commented on #99
@Nyholm oh right, I republished 0.5.33 as `latest` on Docker because it was messing things up for some users (1.0.0 not being released yet).

[2020-11-24 16:06] Nyholm commented on #99
Cool cool. Then #101 should fix it

[2020-11-24 16:07] Nyholm commented on #16
Cool!

[2020-11-24 19:47] #99 closed

[2020-11-24 21:02] Nyholm commented on #99
I just tagged 0.6.2
https://github.com/brefphp/extra-php-extensions/releases/tag/0.6.2

Everything should be fine now.

[2020-11-24 22:19] mnapoli commented on #99
Thank you!

[2020-11-25 23:09] chekalsky opened #104 "Imagick extension stopped working"
Couple of days ago imagick extension I've used stopped working. I thought it was connected to #99 but apparently it's not.

I've made very simple bref app to demonstrate it.
https://github.com/chekalsky/bref-imagick-issue

<img width="686" alt="image" src="https://user-images.githubusercontent.com/241584/100290443-a4f5ff00-2f7b-11eb-8aad-ab3eccc45678.png">

Error:
`PHP Warning:  PHP Startup: Unabl

[2020-11-25 23:30] danniehansen commented on #104
Not sure if it's related. Also experiencing exactly the same with GD after upgrading to Bref 1.0 and added GD layer / ini.

[2020-11-26 07:14] azole opened #107 "Bref 1.0 support"
Hi, it would be nice to update the bref dependency to support version ^1.0, thanks!

[code]

[2020-11-26 07:52] jenschude commented on #104
https://github.com/brefphp/bref/blob/master/runtime/layers/tests.php

[2020-11-26 07:53] jenschude commented on #104
Btw there was once a test added to bref itself if extensions are loadable. This could help and prevent such issues in the future. ;)

See https://github.com/brefphp/bref/blob/master/runtime/layers/tests.php

[2020-11-26 08:22] danniehansen commented on #107
@azole

This is an issue with bref/laravel-bridge & not bref/extra-php-extensions. Related issue: https://github.com/brefphp/laravel-bridge/issues/23 & PR: https://github.com/brefphp/laravel-bridge/pull/24

[2020-11-26 08:36] azole commented on #107
my fault, thanks!!

[2020-11-26 08:36] #107 closed

[2020-11-26 08:59] hvipana commented on #104
[code]

[2020-11-26 09:10] hvipana opened #109 "gmp: Unable to initialize module"
Hi, gmp is not working anymore.

[code]

composer.json:
[code]

Runtime: `provided.al2`

[2020-11-26 11:34] chekalsky commented on #104
+ #109

[2020-11-26 12:11] Nyholm commented on #104
@chekalsky Are you using Bref 1.0?

If so, all the issues should be solved in 0.6.4 (will be released today)

[2020-11-26 12:11] Nyholm commented on #109
All the issues should be solved in 0.6.4 (will be released today)

[2020-11-26 12:32] chekalsky commented on #104
@Nyholm yes, thank you!

[2020-11-26 17:33] gocebo commented on #104
Just updated to 0.6.4 + bref 1.0.0 and still getting ` PHP Startup: Unable to load dynamic library '/opt/bref-extra/imagick.so'`

[2020-11-26 17:36] Nyholm commented on #104
Thank you. Do you get any other error output?

[2020-11-26 18:00] gocebo commented on #104
The same one as @chekalsky
```PHP Warning:  PHP Startup: Unable to load dynamic library '/opt/bref-extra/imagick.so' (tried: /opt/bref-extra/imagick.so (libgomp.so.1: cannot open shared object file: No such file or directory), /opt/bref/lib/php/extensions/no-debug-non-zts-20190902//opt/bref-extra/imagick.so.so (/opt/bref/lib/php/extensions/no-debug-non-zts-20190902//opt/bref-extra/imagick.so.so: c

[2020-11-26 18:48] RTC1 opened #110 "Usage instructions"
Hello,

I'm trying to use the MongoDB extension in my local docker environment. So far i've got the following:

Dockerfile
[code]

php/conf.d/mongo.ini
[code]

I'm getting this:

`PHP Warning:  PHP Startup: Unable to load dynamic library '/opt/bref-extra/mongodb.so' (tried: /opt/bref-extra/mongodb.so (/opt/bref-extra/mongodb.so: undefined symbol: executor_globals)`

I haven't been able to locate a

[2020-11-26 19:08] RTC1 commented on #110
Possibly related to #109 & #104

[2020-11-26 19:10] Nyholm commented on #110
Yeah.. I think so too... I'll try to fix it as soon as I get home from work

[2020-11-26 23:37] Nyholm commented on #104
I've done some work in https://github.com/brefphp/extra-php-extensions/pull/111. I test run all extensions, I found issues in GD but I cannot reproduce for the Imagick extension.

Hm...

[2020-11-27 06:30] #16 closed

[2020-11-27 06:55] hvipana commented on #104
I have updated to 0.6.4 and gd is still not working.

[code]

![image](https://user-images.githubusercontent.com/55196856/100419759-6fd5d380-3085-11eb-8890-dc4d49b2472c.png)

[2020-11-27 06:57] hvipana commented on #109
Thank you, gmp is working now.

[2020-11-27 06:57] #109 closed

[2020-11-27 06:58] Nyholm commented on #109
Cool. I got a bit worried for a moment. 0.7.0 will include some tests so this will not be repeated.

[2020-11-27 07:01] Nyholm commented on #104
Thank you @hvipana

I added some work and tests to this last night. We are not making sure that the extension is loaded properly. See #111.
I am currently preparing a new release.

What I find interesting is that some layers reported issues. But imagick isn't one of them... however, GD is fixed and gmp is fixed in 0.6.4 according to #109

[2020-11-27 09:01] Nyholm commented on #104
I've just released 0.7.0: https://github.com/brefphp/extra-php-extensions/releases/tag/0.7.0

The test repo that @chekalsky works. Here is a PR:
https://github.com/chekalsky/bref-imagick-issue/pull/1

Note that you no longer have to add: `extension=/opt/bref-extra/imagick.so`

[2020-11-27 09:02] Nyholm commented on #110
Hey!

I think you are all correct. We actually doing the exact same thing now when testing the Docker images. Does it work for you now?

[2020-11-27 10:31] chekalsky commented on #104
@Nyholm Thank you, imagick is working now, but for some reason there is no support of PNG and JPG:

<img width="963" alt="image" src="https://user-images.githubusercontent.com/241584/100439595-05805b80-30a4-11eb-9b9d-dc3b9ed509df.png">

Updated https://github.com/chekalsky/bref-imagick-issue so you can check. Do you want me to create a new issue about it?

[2020-11-27 10:32] Nyholm commented on #104
Thank you

[2020-11-27 10:34] Nyholm commented on #104
Could you update this test file: https://github.com/brefphp/extra-php-extensions/blob/master/layers/imagick/test.php?

I want it to make sure that imagick is installed properly. You dont need to fix the docker image, just write some PHP that checks if `png` and `jpg` is supported.

`layer=imagick php_versions=74 make test`

[2020-11-27 11:04] RTC1 commented on #110
Unfortunately not - I've cleared out all my docker cached images too.
[code]

[2020-11-27 11:08] Nyholm commented on #110
Hm..

Im not able to reproduce the bug in https://github.com/brefphp/extra-php-extensions/blob/master/layers/mongodb/test.php

When I run `layer=mongodb php_versions=74 make test` we basically test on an container created from image:

[code]

(See `./test`).

-------

Maybe that is what you are doing wrong..

[code]

[2020-11-27 12:01] chekalsky commented on #104
@Nyholm yep, https://github.com/brefphp/extra-php-extensions/runs/1463539675?check_suite_focus=true

[2020-11-27 12:57] #104 closed

[2020-11-27 17:15] RTC1 commented on #110
I noticed when I ran it again it downloaded a new version of the image. All sorted thanks!

Definitely worth adding that script to the readme for those of us using docker for local development.

[2020-11-27 17:27] Nyholm commented on #110
I agree. Could you please do that?
Maybe create a new small testing about “use extensions with docker”?

[2020-11-27 18:10] Nyholm commented on #104
Tests are added, @chekalsky updated the image to support png and jpg, and I've just tagged 0.7.1.

Everything should be working now and never ever fail again thanks to the tests =)

[2020-11-27 20:31] chekalsky commented on #104
Everything works fine!

<img width="188" alt="image" src="https://user-images.githubusercontent.com/241584/100476069-f241b000-30e4-11eb-8861-f5a5fd2ba093.png">

[2020-11-27 21:27] #110 closed

[2020-11-29 12:16] corsair opened #127 "Functions failing due to "error while loading shared libraries: libncurses.so.6""
As suggested by @mnapoli in [this issue](https://github.com/brefphp/bref/issues/803), it appears there may be some issue with an extension causing the following error to occur when a new function is started:

This occurs even when starting with a fresh deployment via ``serverless deploy`` and ``serverless deploy --stage prod``, as well as on a new AWS account (to attempt to eliminate as many varia

[2020-11-29 13:18] mnapoli commented on #127
FTR I'm suspecting it could be the Redis extension because both reports included that specific extension, but I'm not sure.

@corsair would you be able to test deploying without the redis extension and see if you get the same error?

[2020-11-30 00:57] fotzlapen opened #128 "SQL Server Library Issues"
Hi Team,

Got an issue with using the bref:extra.sqlsrv-php-74 layer with the bref:layer.php-74.  Seems consistent if I downgrade the layers all the way back to bref:layer.php-72.

So with these layers:

[code]

I consistently get the error:

[code]

The file /opt/bref-extra/pdo_sqlsrv.so exists in the layer.

My php.ini is:

[code]
And my serverless environment variable is set:

`    ODBCSYSINI:

[2020-11-30 08:02] Nyholm commented on #127
It does not look like you are using any extensions. Is this the correct `serverless.yml`? How does your `php/conf.d/*` look?

[2020-11-30 08:15] Nyholm commented on #128
Thank you.

The hint is this:

I've not been able to test that layer since I dont want to automatically include both extensions.

I tested this myself and got a little bit different error:

That helped me undertand the fix.

[2020-11-30 08:16] Nyholm commented on #128
See https://github.com/brefphp/extra-php-extensions/pull/129

[2020-11-30 08:41] corsair commented on #127
@Nyholm My php.ini is as follows:
[code]

[2020-11-30 08:43] Nyholm commented on #127
Make sure to add `${bref:extra.redis-php-74}`

[2020-11-30 12:34] #128 closed

[2020-11-30 14:06] mnapoli commented on #127
Right I see that the serverless.yml extract here is different from https://github.com/brefphp/bref/issues/803 (which both mentioned redis).

@corsair could you confirm that you get the error when removing Redis entirely? (that would narrow it down to a Bref issue, instead of an issue with the Redis extension)

The best thing would be to publish online an example that reproduces the problem (e.g. a

[2020-12-01 08:13] Nyholm commented on #47
Excuse my ignorance. But isn't the sqlsrv layer doing this?

Ping @atbreuer11

[2020-12-01 08:14] Nyholm opened #133 "Could we enable both memcache and memcached extension in the same layer?"
Will this be a problem? Should we rather split it to two layers?

[2020-12-01 14:52] atbreuer11 commented on #47
@Nyholm Yes! This issue predates the PR that added SQL Server support, but can be closed now.

[2020-12-01 15:00] Nyholm commented on #47
Cool cool cool.

[2020-12-01 15:00] #47 closed

[2020-12-01 15:08] Nyholm commented on #133
@Nemo64 do you know about this?

[2020-12-01 15:16] Nemo64 commented on #133
Sorry, no idea.

[2020-12-01 15:19] Nyholm commented on #133
That's okey.
I had the feeling that you knew this. Maybe because you are a hard code DynamoDB user I automatically imagine that you know other complicated stuff =)

[2020-12-02 12:53] chippyash commented on #133
I've a feeling you should run one or the other. Back in the day I seem to remember issues with running both together. Could have been php 5x. Now we have redis, I don't use memcache any more. Worth checking though.

[2020-12-02 17:24] Nyholm opened #140 "Checksum are never the same"
Every time we build a layer we get a new checksum. Somewhere, in our build process, or in the base images, we have something that is non-deterministic.

I wonder what that is? Why don't two builds produce the exact same layers?

[2020-12-07 18:59] finiteinfinity commented on #127
@mnapoli @Nyholm Hi all, just to add a little context here I've tested a number of layer combinations:

- php-80-fpm, redis-php-80
- php-80-fpm
- php-80, redis-php-80
- php-80

All of which produce the same error as mentioned in the original issue which leads me to believe the issue is in the underlying image used for the layers (since it seems to appear across both the fpm and non-fpm variants).

[2020-12-07 19:01] Nyholm commented on #127
Thank you for testing.
It seams to be unrelated to redis. Are you using any other extension layers?

[2020-12-07 19:03] finiteinfinity commented on #127
I’ve tested with the gd extension too but it appears to show up when I’m using just the php-80-fpm layer

[2020-12-07 19:32] Nyholm commented on #127
Okey. So just to confirm.

You are getting the error "error while loading shared libraries: libncurses.so.6" when you are running with only the php-80 layer?

Could you create a small test repo to that reproduces this?

[2020-12-07 20:50] finiteinfinity commented on #127
Hi @Nyholm, after creating a small sample repo (see https://github.com/finiteinfinity/bref-test) I couldn't get it to reproduce at all.

So after much head scratching and comparing the differences between the function from my test and in our staging environment I noticed that the runtime was still set to `provided`, NOT `provided.al2` in our terraform config. Changing this seems to have fixed the

[2020-12-11 15:21] deleugpn commented on #127
Upgrading to `provided.al2` runtime did not solve this for me.

[2020-12-11 16:00] mnapoli commented on #127
@deleugpn using the redis extension? Can you reproduce without it?

[2020-12-11 16:04] deleugpn commented on #127
"🤦 mistake". I had forgotten to add `- !Sub "arn:aws:lambda:${AWS::Region}:403367587399:layer:redis-php-80:6"`  to the lambda function definition. But it was good that I had updated to Amazon Linux 2 after seeing this thread.

I got it working with `extension=/opt/bref-extra/redis.so` + `provided.al2` + Lambda Layer.

[2020-12-11 19:02] mnapoli commented on #127
Thanks, that's good news!

Unless anyone else can confirm there is a problem, is it safe to assume we can close this issue? (open question, feel free to signal if you still have an issue)

[2020-12-14 11:09] KennyDepecker commented on #88
I am in need of the same. help please.

[2020-12-14 11:12] mnapoli commented on #88
Hi, since this isn't really an issue or support related to the project, let's move this discussion to https://github.com/brefphp/bref/discussions

[2020-12-14 11:12] #88 closed

[2020-12-14 11:15] Shnilj commented on #88
Moved to https://github.com/brefphp/bref/discussions/823

[2020-12-14 12:35] mnapoli commented on #88
@Shnilj please don't ping me in that discussion, anyone that can help will help.

[2020-12-15 08:32] Nyholm commented on #127
Feel free to open a new issue if you have a similar problem.

[2020-12-15 08:32] #127 closed

[2020-12-15 12:40] #133 closed

[2021-01-03 05:16] victormacko opened #155 "Bug in imagick when rendering text on a page - cannot write text on image (freetype missing?)"
In trying to write text on an image using Imagick, the following error comes up when using the imagick layer;

php-fpm: DelegateLibrarySupportNotBuiltIn '/var/task/public/fonts/Arial.ttf' (Freetype) @ warning/annotate.c/RenderFreetype/1844.
CRITICAL - request()] Uncaught PHP Exception ImagickException: "Failed to query the font metrics" at /var/task/src/GeoJSON2Image.php line 484

The line of code

[2021-01-04 12:07] Nyholm commented on #155
Im not sure either. Can you reproduce the error on your local machine?

Could you update [this file](https://github.com/brefphp/extra-php-extensions/blob/master/layers/imagick/test.php) with a script that show that it fails?

[2021-01-05 03:30] victormacko commented on #155
Done :)

[2021-01-10 09:35] #34 closed

[2021-01-10 09:35] Nyholm commented on #34
It will be added at the next release

[2021-01-10 09:38] Nyholm commented on #155
I found [this answer from stackoverflow](https://stackoverflow.com/questions/6864890/imagick-failed-to-query-the-font-metrics). It suggested that I should run `convert -list configure` and look at the "delegates" section. I saw that Freetype was missing.

I installed `ImageMagick-devel` and forced freetype support when compiling the extension. See my commits to #156

[2021-01-10 10:10] victormacko commented on #155
@Nyholm Oh awesome, thanks so much for getting this going -- was just starting to wonder how I could try and reproduce & fix it here! Your work is super appreciated, thank you so much!

[2021-01-13 10:51] finiteinfinity opened #162 "Extensions failling to load"
While looking through CW logs I came across a number of issues where dynamic libraries fail to load or tries loading twice. This only seems to occur with the gmp and redis libraries.

Example of errors below
[code]

and

[code]

I am currently using these layers in the following merge order:
- arn:aws:lambda:eu-west-2:209497400698:layer:php-80-fpm:6
- arn:aws:lambda:eu-west-2:403367587399:layer:gm

[2021-01-13 11:13] Nyholm commented on #162
What version are you using?

For 0.9*+ you dont need to specify the `extension=/opt/bref-extra/gmp.so`.

If you are using Bref ^1.0, then make sure you remove `extension=redis` too and add the redis layer in your serverless.yml file.

[2021-01-13 11:24] finiteinfinity commented on #162
Hi @Nyholm,

Just to confirm you are saying that adding the layers is enough to enable the extensions without having `extension=xyz` in the ini file?

[2021-01-13 11:28] Nyholm commented on #162
Correct. Since 0.7.

See the updated readme.

[2021-01-13 11:29] finiteinfinity commented on #162
Ok thanks, closing this issue due to misunderstanding

[2021-01-13 11:29] #162 closed

[2021-01-13 11:31] Nyholm commented on #162
Let me know if you have any other trouble.

I see that you are one of the cool ones and using PHP 8. =)

[2021-01-24 23:34] mtibben commented on #127
I had this issue but realised I was using the `provided` runtime, switching to `provided.al2` solved the issue

[2021-02-02 00:15] codybolinger opened #165 "AWS Elasticache Extension"
I am trying to create a custom AWS Elasticache Cluster Client extension using an AWS Lambda Layer but can't seem to get it working, per the instructions: https://bref.sh/docs/environment/php.html#custom-extensions

I'm not sure if I'm missing something crucial or the install steps for this extension are non-trivial, but any help is deeply appreciated and others might find this extension useful.

*

[2021-02-02 08:34] mnapoli commented on #165
I don't see anything obvious missing/wrong. What I would do is download the layer manually (e.g. in the AWS console) and unzip it to verify that the extension file is really in there.

I would also check (in PHP running in Lambda for example) that the file is there on Lambda (e.g. `var_dump(file_exists(...))`).

[2021-02-02 17:04] #165 closed

[2021-02-02 17:18] codybolinger commented on #165
Thanks for your help @mnapoli . I had to modify the layer to include the library inside of the bref-extra folder.

**/bref-extra/amazon-elasticache-cluster-client.so**

[2021-02-04 07:43] #155 closed

[2021-02-13 10:28] Nyholm commented on #140
Maybe if we only publish layers that have changed since last tag.

[code]

[2021-02-13 11:53] #140 closed

[2021-02-15 23:40] chrishanline opened #179 "SQLSRV extension error with libmsodbcsql"
Starting with release 0.9.6, getting an error with the SQLSRV layer when connecting with `sqlsrv_connect()`. Using Bref 1.2.0.

[code]

Downgrading to `bref/extra-php-extentions` 0.9.5 fixes it while still using Bref 1.2.0.

[2021-02-17 08:33] Nyholm commented on #179
Thank you for this issue.

Interesting. There is no changes to SQLSRV between 0.9.5 and 0.9.6. See https://github.com/brefphp/extra-php-extensions/compare/0.9.5...0.9.6.

Will it work on bref/extra-php-extentions 0.10.0?

Could you try to modify this test file to reproduce the error? https://github.com/brefphp/extra-php-extensions/blob/master/layers/sqlsrv/test.php

[2021-02-18 15:58] chrishanline commented on #179
I can confirm that 0.9.6 fails but 0.9.5 is fine. 0.10.0 also fails.

Here is a test file that attempts a connection. `sqlsrv_connect` is expected to return false since there is no SQL Server available to connect to, but checking for the low-level error returned about the missing library. When the test passes it does take 1 second for the `LoginTimeout` time to expire.

[code]

[2021-02-18 16:32] Nyholm commented on #179
Thank you. Im confused because I dont see any changes in that layer. Also, Im trying to run the code you provided but it passes.

See #180

[2021-02-18 17:38] chrishanline commented on #179
Is it possible to pass an env variable to the test? The SQLSRV layer requires `ODBCSYSINI=/opt/microsoft/conf/` to be present for the MS ODBC driver to be found.

I'm betting an error `$error['SQLSTATE'] == '-49'` is being returned since `ODBCSYSINI` isn't present providing the correct path to find in the layer.

[2021-02-19 14:01] Nyholm commented on #179
Sure, just using `putenv('ODBCSYSINI=/opt/microsoft/conf/');`.

[2021-02-19 14:04] Nyholm commented on #179
I still fail to reproduce the issue. Could you try with the code in #180?

[2021-02-22 02:51] bradleyess commented on #35
We are working on this at Linktree currently. The first party support for Lambda via Datadog does not show support for PHP. @fgilio - are you able to get this working with your PHP application?

[2021-02-22 09:07] Nyholm commented on #179
Maybe @atbreuer11 could help out?

[2021-02-22 15:40] fgilio commented on #35
No, we didn't. Tried a few things but had to abandon it

[2021-02-23 00:22] atbreuer11 commented on #179
@chrishanline I was able to reproduce the issue and opened #181 to address this. Let me know if it works for you.

[2021-02-24 08:22] bradleyess commented on #35
@fgilio - we have recently gotten this working with our Bref lambdas.

We are able to view logs and APM traces - but there is some work to be done to make it truly viable for production here.

1. We need to send REPORT logs from Lambda to enable Datadog Invocation metrics in the Serverless function view.
2. We need to enable Enhanced Lambda Metrics - we are unsure on how to do this right now as th

[2021-02-28 20:47] #179 closed

[2021-03-01 10:26] joedixon opened #184 "Generating images of PDFs with Imagick"
Hi,

I am using the Imagick layer with Laravel Vapor and need to be able to generate images of each page of a PDF. My code looks like this:

[code]

I have confirmed file exists in the `/tmp` directory, but when the `readImage` method is executed, I get the following exception:

[code]

I have also tried reading the file in with `readImageBlob` like so:

[code]

This results in the following excep

[2021-03-01 10:31] mnapoli commented on #184
Hi! TBH I think the error message is not sufficient to know for sure.

Could it be that the image is corrupted/invalid? Where is the image coming from?

Also just a bit of warning: we do not know how the Vapor runtime is set up. They recommend using Bref layers with Vapor, so I guess they have tested it. But it's hard for us to say for sure that everything should work correctly, hopefully that mak

[2021-03-01 10:52] joedixon commented on #184
Hey @mnapoli - thanks for the quick response. That all makes perfect sense. Unfortunately, that's the extent of the error imagick supplies!

The image comes from S3, but I have tried pulling it in to the `/tmp` directory and allowing imagick to read it from there or passing it directly with `file_get_contents`. Both return similar errors, but I can see the image is being passed correctly and is no

[2021-03-01 15:12] Nyholm commented on #184
If you find an issue, it would be great if you modified this file to show the error:

https://github.com/brefphp/extra-php-extensions/blob/master/layers/imagick/test.php

[2021-03-04 12:20] Nyholm commented on #184
This should be fixed in 0.10.2. Could you please confirm?

[2021-03-09 08:59] Nyholm commented on #184
@joedixon Did 0.10.2 fix the issue?

[2021-03-11 11:16] peter-9209 commented on #127
I also had this issue, than realized that my bref version in composer.json was pinned to "bref/bref": "^0.5.15", after upping it to 1.2 everything worked fine

[2021-03-17 14:55] mhetreramesh opened #192 "GD extension latest version support"
I use a lambda function to generate images backed by bref. Internally I've used gd library & gd lambda layer.

Functionally, everything works fine but there is a difference between generated image on lambda function & local. I did a more detailed investigation & found out that the gd library version on production is different than local. I suspect that can be the issue in my case.

## Local docker

[2021-03-18 07:58] Nyholm commented on #192
How do you build your local docker image? What version of this library are you using in production?

Here is everything related to the GD extension: https://github.com/brefphp/extra-php-extensions/blob/master/layers/gd/Dockerfile

[2021-03-18 08:13] mhetreramesh commented on #192
I've used [laravel sail](https://laravel.com/docs/8.x/sail) for local environment.

Below are the Bref versions I have on production:

![image](https://user-images.githubusercontent.com/3095445/111592927-b3d21d00-87c9-11eb-857f-266cff542663.png)

I went to this GD extensions dockerfile but did not found a way how I can change the gd version from 2.1.0 to 2.3.0

Am I missing something?

[2021-03-18 08:29] Nyholm commented on #192
There are a two strange things I see:
1. You are using two very different docker images for local and for production.
2. You are not using the latest release of `bref/extra-php-extension`.

Why did you expect them both to use the same version of GD?

------------

The GD extension is bundled with PHP. See https://www.php.net/manual/en/extensions.membership.php

We may need to install the libgd and

[2021-03-18 08:42] mhetreramesh commented on #192
Yes, I use two different docker images. That was the quickest way I got started with both development & production working. Then later I've realized the gd version difference(sorry for creating confusion by posting my development environment details, I wanted to share my reason to upgrade gd). Then I started looking how I can upgrade GD version for bref, did found this bundled process complicated

[2021-03-18 09:19] Nyholm commented on #192
We are using the bundled PHP GD. If we want to update the version we need to use an external GD lib.

I tried to use `--with-external-gd` but Im out of luck.

Maybe @shouze could help?

[2021-03-18 10:02] shouze commented on #192
@mhetreramesh I'm not sure but maybe you can try to upgrade to bref 1.2.1 and get lucky for a bundled gd upgrade.

If not, I guess that we can ask @mnapoli to push up to date bref docker build images (at least 1.2.0 or 1.2.1) that we could also use as [base images to build gd ext in this repo](https://github.com/brefphp/extra-php-extensions/blob/master/layers/gd/Dockerfile#L2).

[2021-03-18 10:04] shouze commented on #192
@mhetreramesh also, could you please give the name of your local laravel sail base image used for local development? Anyway I guess it's not a very good option to use it and prefer instead using official bref images if you want to be in sync on every php points (php versions, ext versions, php settings) and avoid a lot of surprises over time between local development and your deployments envs.

[2021-03-18 10:07] Nyholm commented on #192
What feature in GD 2.3.0 are you using that does not exist 2.1.0? Ie, why is the update needed?

[2021-03-18 10:29] mhetreramesh commented on #192
To be honest, I exactly don't know if the GD version is the root cause of my problem. I am using [intervention/image](https://github.com/intervention/image) to manipulate images(Adding different layers on images). I saw a visible difference in the generated images on local vs production(the production version is buggy). Then I looked into configuration difference & found out that GD version differ

[2021-03-18 10:56] mhetreramesh commented on #192
The local sail image is FROM ubuntu:20.04, here is gist of sail [dockerfile](https://gist.github.com/mhetreramesh/61e7f3223646a410d93159ca5f4bec3e)

Going with the sail for local dev environment was easy start back then, but now I've realized to spend more time making proper dev setup which is using bref docker images.

I've tried updating to latest bref version, no luck with that.

[2021-03-18 10:59] mhetreramesh commented on #192
This is the noticeable difference I have with generated images:

### Production version:
![image](https://user-images.githubusercontent.com/3095445/111615586-35817500-87e1-11eb-9f44-3e09a724e901.png)

### Local version(expected behavior):
![image](https://user-images.githubusercontent.com/3095445/111615682-534eda00-87e1-11eb-98f6-04aa395d8047.png)

[2021-03-23 07:21] Nyholm commented on #192
Using `bref/build-php-7.4:1.2.3` will still generate version 2.1.

[2021-03-26 16:41] vasilvestre opened #202 "PHP 8.0 layers"
Hello,

I've just tried to use AMQP for PHP 8.0 and the layer does not exist. How could I help please ? :)

https://exploit.cz/how-to-compile-amqp-extension-for-php-8-0-via-multistage-dockerfile/

https://github.com/php-amqp/php-amqp/issues/386#issuecomment-795115965

[2021-03-27 08:14] #202 closed

[2021-03-27 18:19] semsphy opened #207 "Add Calendar Extension"
Hello,

I would like to add the `calendar extension`.

Please kindly review my PR #206 .

Thanks,

[2021-03-29 07:09] Nyholm opened #208 "Make test fail if there is invalid json"
Currently, we get an error but the pipeline is still green.

[2021-03-29 07:15] Nyholm commented on #207
Fixed by #206

[2021-03-29 07:15] #207 closed

[2021-03-29 07:15] Nyholm commented on #184
Im closing this due inactivity.

[2021-03-29 07:15] #184 closed

[2021-04-10 19:32] mhetreramesh commented on #192
Update:

I tried  with the recent versions of my all packages from bref & this issue seems to be still existing. I'm sure the latest GD version will be used in bref soon in the mean time I've moved my that specific service back to EC2 traditional way.

As soon as the update is there, I'll move back to Lambda again.

Thanks for your help! :heart:

[2021-04-14 08:21] starred-gijs opened #213 "NewRelic: include newrelic-daemon executable as Lambda Extension"
I have been playing around with this idea, and I created a Lambda Layer and using the Lambda Extension API and the newrelic-daemon executable. Its a very basic implementation, and there is indeed the occasional connection issue with cold starts, as the [docs mention already](https://github.com/brefphp/extra-php-extensions/blob/master/docs/newrelic.md#install-and-configure)

But for us this has bee

[2021-04-29 09:45] RTC1 opened #218 "Unknown Bref variable"
Just updated to serverless 2.38.0 from 2.35.0 and getting this:

`Cannot resolve variable at "functions.customSMSSender.layers.1": Error: Unknown Bref variable ${bref:extra.mongodb-php-80}, the only supported syntax right now is ${bref:layer.XXX}`

customSMSSender:
    handler: lambda_functions/LaravelHandle.php
    timeout: 180
    layers:
      - ${bref:layer.php-80}
      - ${bref:extra.mongodb

[2021-04-29 12:42] mnapoli commented on #218
I've opened https://github.com/brefphp/extra-php-extensions/pull/219, thank you for the report.

[2021-04-30 09:23] mnapoli commented on #218
@RTC1  can you test https://github.com/brefphp/extra-php-extensions/pull/219 and confirm whether it solves the problem?

[2021-05-03 15:44] riyajail commented on #127
is there any way without switching to provided.al2 solve this issue?

[2021-05-04 08:27] #218 closed

[2021-07-08 16:10] NeilJ247 opened #252 "New Relic Extension doesn't work with infrequent requests"
Hi,

I currently have a lambda application that is run about once a day.  The app is configured to report to daemon running in AWS Fargate.  The agent however is not logging web transactions or exceptions on a single request.

I have spoken to @goldenplec about this around March (sorry Aidan I got busy...) who implemented this extension.  It is something to do how the agent collates the data and t

[2021-07-27 17:38] johangit commented on #218
I'm trying to use the new variables:
[code]

and got this Serverless error: "Invalid variable reference syntax for variable bref-extra:gd-php-74. You can only reference env vars, options, & files. You can check our docs for more info."

What I'm doing wrong? (`${bref:extra.gd-php-74}` works for me)

-----
[code]

[code]

[2021-07-27 18:12] mnapoli commented on #218
I would suggest to upgrade to v0.11 of `bref/extra-php-extensions`

[2021-09-07 07:29] andre-wiedemann opened #267 "GetLayerVersion redis layer, not authorized"
Hello everyone.
I'm running into an issue with the latest bref-extra-layer for redis.
During deployment it says the following error.

[code]

It seems like the layer image is not properly uplopaded.

Can you help me please?

My sam template part:

[code]

My region is us-east-1.

Thanks in advance.

Beste,
André

[2021-09-07 08:49] andre-wiedemann commented on #267
never mind, found my mistake.
i was using the wrong account id. thought it will be in the same as normal php layer but instead it is 403367587399

[2021-09-07 08:49] #267 closed

[2021-09-15 10:02] robchett opened #268 "memcached-php-80 missing"
Looks like you've recently added a memcached build for 8.1, could it be availabled for us people stuck on 8.0?

[2021-09-24 14:37] Nyholm commented on #268
Of course. Send a PR to modify this file. https://github.com/brefphp/extra-php-extensions/blob/master/layers/memcached/config.json

Then hope the CI is green :)

[2021-09-26 17:58] ronald2wing opened #273 "Can anyone adds the V8Js extension?"
Or send me a tutorial on how to add an extension to this repo. Thank you.

[2021-10-29 17:16] aran112000 opened #281 "Redis layer missing on PHP 8.1"
The Redis layer which was added by @shouze under the following commit for PHP 8.1 doesn't appear to actually work:
https://github.com/brefphp/extra-php-extensions/commit/f5fe4498b58d662c2725896373ea5ee6de015564

When registered for a function PHP reports the Redis function never loaded - verified with `get_loaded_extensions()`. No sign of any startup errors from PHP which I would have expected, an

[2021-10-29 18:45] sbennett-ihasco commented on #281
I noticed the same thing building a redis+igbinary extension for 8.1. Staying with 8.0 for now.

[2021-10-29 18:51] aran112000 commented on #281
@sbennett-ihasco we had other issues with 8.0 as the Memcached extension is missing - I've seen there's a MR sorting that out awaiting the next release

[2021-10-29 21:37] aran112000 commented on #281
Managed to get the startup errors outputting which confirms both Redis and Memcached were compiled against the wrong PHP version:
[code]
[code]

[2021-11-01 16:29] aran112000 commented on #281
closed by #282

[2021-11-01 16:29] #281 closed

[2021-11-01 22:42] trevortos opened #288 "Layer imagick - SVG Support"
Where having issues rendering SVG files, and think it may have todo with imagemagic not being built with rsvg.

Is there a way we can get SVG build options added to the Docker build?

Im not sure if its
--with-rsvg=yes
or
 --with-librsvg

[2021-11-23 09:47] curzio-della-santa opened #291 "Layer imagick - ICC profile manipulation via Lcms2"
Hi

I need to manipulate ICC profiles, it worked in the local machine, but not an AWS lambda.

I had a log time in troubleshooting, until I come to this one:
https://stackoverflow.com/questions/47414462/php-imagick-wont-add-icc-color-profile

Because I was not able to find out the installed delegators using the Imagick class or phpinfo, to watch imagigk linked libraries I've added following in my

[2021-11-30 06:53] #291 closed

[2021-12-15 08:29] alexanderkraemer opened #303 "Newrelic Extension missing for current PHP Versions"
As PHP 7.4 is already in deprecated (security fix only) mode, It would be great, to have PHP8.0/8.1 support for the newrelic extension.

[2021-12-15 09:07] #303 closed

[2021-12-22 14:38] starred-gijs commented on #213
Closing due the occasional connection issue with cold starts is not worth the trouble.

[2021-12-22 14:38] #213 closed

[2021-12-27 00:18] atymic opened #305 "Can't load blackfire layer"
PHP 7.4. I'm using the vapor base layer, which could be the issue but I thought i'd ask here in case there's an easy fix.
I'll continue to debug and see if i can get it working :)

[code]

[2021-12-30 15:18] alexanderkraemer opened #306 "Class not found"
Anything else I need to do in order to get Memcached/Redis Extension to work besides adding the two layers to my function?
I've added the following two
`${bref-extra:memcached-php-74}`
`${bref-extra:redis-php-74}`

I'm still getting errors such as:
[code]

PHP: 8.0
Bref version: 1.4.1
Bref extra-php-extensions version: 0.11.21

[2021-12-30 18:04] #306 closed

[2022-01-12 16:05] Cerwym commented on #252
I also have this issue

[2022-01-17 15:49] NeilJ247 commented on #252
Hi @goldenplec, I think we tried this (sorry my memory is just as bad!).  I'll give it a go again.

[2022-01-24 23:30] NeilJ247 commented on #252
Hi @goldenplec,

Managed to get this working by setting `newrelic.daemon.app_timeout` to 120H and `newrelic.daemon.app_connect_timeout` to 15s in `newrelic-settings.ini`.

Thanks for your help.

[2022-01-24 23:30] #252 closed

[2022-01-24 23:32] goldenplec commented on #252
@NeilJ247 awesome news. Sorry you were in limbo all this time. I thought this had been resolved your side when I hadn't heard back. Delighted it's all working for you.

[2022-01-27 21:32] filipemansano opened #310 "Error when using Serverless 3.0"
After upgrading Serverless to version 3.0.0 I got the error below

[code]

version of bref and bref/extra-php-extensions used
[code]

[code]

[2022-01-30 04:00] igibek opened #312 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-02-01 06:53] Nyholm commented on #310
Is this still an issue after we released #311 in 0.11.22?

[2022-02-01 06:55] #312 closed

[2022-02-01 07:39] hmazter commented on #310
@Nyholm Testing with v0.11.23 does not give any error for `serverless package` at least

[2022-02-13 16:51] allan-simon commented on #267
@andre-wiedemann  thanks , I was also wondering why it was not working, and indeed changing

arn:aws:lambda:eu-west-3:209497400698:layer:blackfire-php-81:2

by

arn:aws:lambda:eu-west-3:403367587399:layer:blackfire-php-81:2

fixed the issue :)

[2022-02-13 17:01] allan-simon commented on #305
I'm using the php-fpm layer and I got the same issue with 8.1

[2022-02-15 00:55] Benzoh opened #323 "`bref-extra:oci8-php-80` doesn't work"
Hello. Let me ask you a question.
I think I've defined the extension correctly, but it doesn't work.

↓ serverless.yml
[code]

![image](https://user-images.githubusercontent.com/13086429/153971908-7aa798a5-ffc1-4b3e-9757-75c5222ca759.png)

![image](https://user-images.githubusercontent.com/13086429/153971583-dd3104c3-a2fc-4988-8344-77419b30a42d.png)

![image](https://user-images.githubusercontent.

[2022-02-16 06:41] Nyholm commented on #323
It all looks correct. You should probably also add oci8 layer in your artisan function.

What version of bref/extra-php-extensions are you running? Looking at your second screenshot , the "compatible runtimes" seams weird.

Btw, the layer is verified with: https://github.com/brefphp/extra-php-extensions/blob/master/layers/oci8/test.php

[2022-02-16 06:42] Nyholm commented on #310
Thank you for confirming.

[2022-02-16 06:42] #310 closed

[2022-02-16 06:44] Nyholm commented on #305
Hm.. That is strange. I dont know what this error comes from.

@allan-simon, I just released a new version. Tomorrow there will be another release with your fix for 8.1

[2022-02-17 05:07] Benzoh commented on #323
Thank you for your reply.

But I can't increase the runtime version of the extension.

Isn't it necessary to set the parameter here to PROVIDED_AL_2?

![image](https://user-images.githubusercontent.com/13086429/154409301-00bba752-7f16-49ab-8ecf-d8aad97d75e4.png)

[2022-03-05 06:22] reganjohnson commented on #35
Any updates here? Would love to have logging and tracing support for DataDog in our bref functions. @bradleyess Any resources available to view on how you accomplished this?

[2022-03-29 10:52] sandeepkumar01gh opened #333 "Can anyone add pspell extension ?"
Can anyone add spell extension or suggest me a tutorial for doing this.

[2022-03-31 02:04] V13Axel commented on #288
I've hit issues with rendering SVGs as well, and I've just spent some time tinkering with this to try and see if I could narrow it down.

Specifically, the problem comes about for me when using _nested_ SVGs, which I am then converting to PNG. Here's the full text of an example SVG (Formatted for ease of seeing how it's nested):

[code]

You can easily test what I'm hitting with the following:

[c

[2022-04-26 06:00] Nyholm commented on #333
Sure, have a look at the docs: https://github.com/brefphp/extra-php-extensions/blob/master/docs/create_your_own_extension_layer.md

[2022-05-18 06:11] my2ter opened #341 "imagick-php-80 no longer works"
Hi

After a recent deployment I noticed that the imagick module is no longer present ...? The layer is correctly added on my lambda function "imagick-php-80:3" but it's not showing in the phpinfo.

I tried to use the latest layer 10 available but it is significantly bigger than other layers and I get the following error from lambda "Function code combined with layers exceeds the maximum allowed si

[2022-05-24 23:25] prakashhiranandani opened #345 "Bref mcrypt extension layer,"
Hi ,
  Thanks alot for creating the bref laravel library, I create a lambda function but it does not have mcrypt installed.
   Is there a bref layer which has mcrypt  installed

Thanks
Prakash

[2022-06-14 15:20] CryptoDev4 opened #346 "How can i to install php V8JS extension as a custom extension?"
Hi i'm using a Laravel app with the **Spatie** package **Server Side Rendering,** and this packages needs **NODE_EXECUTABLE** to works on production or another option is to install V8JS extension for PHP but I don't understand how can I install custom extensions with **Bref**.

Can anyone help me with this please?

[2022-06-21 06:23] Nyholm commented on #345
The mcrypt extension was removed in PHP 7.2

https://www.php.net/manual/en/intro.mcrypt.php

[2022-06-21 06:23] #345 closed

[2022-06-21 06:24] Nyholm commented on #341
Could you please update the test to show that it is broken?

https://github.com/brefphp/extra-php-extensions/blob/master/layers/imagick/test.php

[2022-06-21 06:24] Nyholm commented on #323
FYI: This layer was just updated by @Nemo64

[2022-06-21 07:51] Nemo64 commented on #323
I didn't touch the `oci8` layer, I modified the `odbc-snowflake` layer.

[2022-06-27 16:37] #346 closed

[2022-06-27 16:39] CryptoDev4 opened #352 "How to execute node on bref?"
Hi I would like to know how can I to execute Node on bref using a layer?
The reason what I need to do this is because I'm using Laravel Server Side Rendering package by Spatie, and I want to specific the path of the Node executable.

[2022-08-14 09:57] sahilr2050 opened #356 "installing trader.so as layer"
OS: Windows 11

Folder: D:/bref-extra/trader-php-74/layers/trader/

Dockerfile
[code]

I used [imap dockerfile](https://github.com/brefphp/extra-php-extensions/blob/master/layers/imap/Dockerfile) as reference

What I am trying to achieve:

Install Trader Extension:
- As Trader extension is available in the `amazon-linux-extras` : `RUN yum -y install amazon-linux-extras`
- `RUN amazon-linux-extras

[2022-08-15 09:11] goyavo opened #357 "Issue with redis-php-81 (working with redis-php-80)"
Dear all,

There seems to be an issue with Redis php when using the following:

serverless.yml
`    layers:
      - ${bref:layer.php-81-fpm}
      - ${bref-extra:redis-php-81}`

cloudwatch:
`NOTICE: PHP message: PHP Warning:  PHP Startup: Unable to load dynamic library 'redis' (tried: /opt/bref/lib/php/extensions/no-debug-non-zts-20210902/redis (/opt/bref/lib/php/extensions/no-debug-non-zts-202109

[2022-08-15 14:18] #357 closed

[2022-08-22 14:08] renanwilliam commented on #323
I have the same issue, did you solve it @benzoh ?

[2022-08-22 16:50] benzoh commented on #323
@renanwilliam yes. I solved it by defining the [layers myself](https://github.com/benzoh/lambda-oci8-layer). Please have a look.

`serverless.yml` looks like this.

[code]

[2022-08-23 00:07] renanwilliam commented on #323
Strange, your Dockerfile looks like the same in the [official repo](https://github.com/brefphp/extra-php-extensions/blob/master/layers/oci8/Dockerfile). Is there something relevant different that I was not seeing?

[2022-08-23 12:41] benzoh commented on #323
I think the solution is to publish with the `PROVIDED_AL_2` runtime. I published layer with `--compatible-runtimes provided.al2` options.

[code]

[2022-10-31 18:54] liepumartins opened #364 "php decimal"
Would love to see this available https://github.com/php-decimal/ext-decimal

Thanks!

[2022-11-03 06:38] Nyholm commented on #364
I just did a small PR for another extension. See here: #367

You will come a long way just copying that and replace `gnupg` with `decimal`.

[2022-11-03 08:19] liepumartins commented on #364
Yea, last night already created code. Made pull request now.

[2022-11-03 14:39] #364 closed